<div class="container">
  <div class="row header_spacing">
  </div>

  <!-- carousel -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag('B_Banner2.png') %></div>
    <div class="item"><%= image_tag('B_Banner1.png') %></div>
    <div class="item"><%= image_tag('b_banner3.png') %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

  <div class="row lead-background">

      <% @stores.each_with_index do |store, i| %>
        <%= link_to store_home_path(store) do %>
          <div class="span4 ">
            <span class="store_title"><%= store.name %></span>
            <%= image_tag generate_store_image_url(store.id), class: "img-polaroid" %>
            <br>
            <p></p>
            <p class="store_descript"><%= store.description[0..30] %>...</p>
          </div>
        <% end %>
      <% end %>

  </div>
</div>
